{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>B2B Exports</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&amp;display=swap"/>
    </noscript>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/aos.css' %}" rel="stylesheet">
    <link href="{% static 'css/ekko-lightbox.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header class="d-flex flex-column bg-image" {% if banner.background_image %} style="background: url('{{banner.background_image.url}}') no-repeat center center" {% endif %}>
      <div class="container pt-4">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent px-0"><a class="text-white navbar-brand" href="/">{% if banner.logo %}<img src="{{banner.logo.url}}" width="140px" height="60px">{% else %}Bay To Bay{% endif %}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#da-navbarNav" aria-controls="da-navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse text-uppercase" id="da-navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#learn">About</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#services">Services</a></li>

              <!--<li class="nav-item"><a class="nav-link smooth-scroll" href="#projects">Projects</a></li>-->
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#testimonial">Testimonials</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="da-home-page-text flex-grow-1 d-flex align-items-center" data-aos="fade-right" data-aos-duration="1000">
        <div class="container">
          <div class="col-md-10 col-sm-12 px-0 mx-0">
            <h2 class="display-3 text-uppercase">{% if banner.title %}{{banner.title}}{% endif %}</h2>
            <h3 class="h4 mt-3">{{banner.description|safe}}</h3><a class="smooth-scroll btn btn-outline-light mt-4" href="#learn">Learn More</a>
          </div>
        </div>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="da-section da-work bg-secondary" id="learn">
  <div class="container">
    <div class="h3 pb-3 text-center text-white" data-aos="fade-up">Why Work With Us?</div>
    <p class="px-5 pb-5 text-center text-white" data-aos="fade-up">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <div class="row">
      {% for w in why %}
      <div class="col-md-4">
        <div class="card mb-3" data-aos="flip-left">
          <div class="card-body mt-4 mb-1 text-center"><i class="pb-3 text-primary fas fa-info fa-3x"></i>
            <div class="h4 pb-3">{{w.title}}</div>
            <p>{{w.description|safe}}</p>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
<div class="da-section bg-light" id="services">
  <div class="da-services">
    <div class="container text-center">
      <div class="h3 pb-5 text-center" data-aos="fade-up">Our Services</div>
      <div class="row">
        {% for s in services %}
        <div class="col-lg-4 col-md-4">
          <div class="card mb-3">
            <div class="card-body py-5" data-aos="zoom-in" data-aos-duration="500">
              <div class="text-primary"><i class="pb-3 fas fa-code fa-3x"></i>
                <p class="font-weight-bold">{{s.title}}</p>
              </div>
              <p>{{s.description|safe}}</p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
<!--<div class="da-section bg-secondary text-white">-->
  <!--<div class="container">-->
    <!--<div class="row px-4">-->
      <!--<div class="col-md-3 col-sm-6">-->
        <!--<div class="media py-2" data-aos="flip-up"><i class="mr-3 fas fa-clipboard-check  fa-3x fa-fw"></i>-->
          <!--<div class="media-body">-->
            <!--<div class="h5">1575</div>-->
            <!--<div class="h6">Projects Done</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-3 col-sm-6">-->
        <!--<div class="media py-2" data-aos="flip-up"><i class="mr-3 fas fa-smile  fa-3x fa-fw"></i>-->
          <!--<div class="media-body">-->
            <!--<div class="h5">1245</div>-->
            <!--<div class="h6">Happy Clients</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-3 col-sm-6">-->
        <!--<div class="media py-2" data-aos="flip-up"><i class="mr-3 fas fa-file-alt fa-3x fa-fw"></i>-->
          <!--<div class="media-body">-->
            <!--<div class="h5">865</div>-->
            <!--<div class="h6">Appreciations</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-3 col-sm-6">-->
        <!--<div class="media py-2" data-aos="flip-up"><i class="mr-3 fas fa-clock  fa-3x fa-fw"></i>-->
          <!--<div class="media-body">-->
            <!--<div class="h5">8565</div>-->
            <!--<div class="h6">Working Hours</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="da-section">-->
  <!--<div class="container">-->
    <!--<div class="h3 text-center" data-aos="fade-up">Meet our Team Members</div>-->
  <!--</div>-->
  <!--<div class="da-team carousel slide py-5" id="da-carouselIndicator" data-ride="carousel" data-aos="zoom-in-up" data-aos-duration="1000">-->
    <!--<div class="container">-->
      <!--<ol class="carousel-indicators">-->
        <!--<li class="active" data-target="#da-carouselIndicator" data-slide-to="0"></li>-->
        <!--<li data-target="#da-carouselIndicator" data-slide-to="1"></li>-->
      <!--</ol>-->
      <!--<div class="carousel-inner">-->
        <!--<div class="carousel-item active">-->
          <!--<div class="row">-->
            <!--<div class="col-md-4">-->
              <!--<div class="card d-block mb-3"><img class="card-img-top" src="images/da-emp-1.jpg" alt="image"/>-->
                <!--<div class="card-body text-center">-->
                  <!--<div class="h5">Pamela Lopez</div>-->
                  <!--<p class="text-muted">CEO</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
              <!--<div class="card d-block mb-3"><img class="card-img-top" src="images/da-emp-2.jpg" alt="image"/>-->
                <!--<div class="card-body text-center">-->
                  <!--<div class="h5">John Bowman</div>-->
                  <!--<p class="text-muted">Graphic Designer</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
              <!--<div class="card d-block mb-3"><img class="card-img-top" src="images/da-emp-3.jpg" alt="image"/>-->
                <!--<div class="card-body text-center">-->
                  <!--<div class="h5">Mark Shaw</div>-->
                  <!--<p class="text-muted">Software Developer</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="carousel-item">-->
          <!--<div class="row">-->
            <!--<div class="col-md-4">-->
              <!--<div class="card d-block mb-3"><img class="card-img-top" src="images/da-emp-4.jpg" alt="image"/>-->
                <!--<div class="card-body text-center">-->
                  <!--<div class="h5">Melissa Long</div>-->
                  <!--<p class="text-muted">Software Developer</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
              <!--<div class="card d-block mb-3"><img class="card-img-top" src="images/da-emp-5.jpg" alt="image"/>-->
                <!--<div class="card-body text-center">-->
                  <!--<div class="h5">Betty West</div>-->
                  <!--<p class="text-muted">Software Developer</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
              <!--<div class="card d-block mb-3"><img class="card-img-top" src="images/da-emp-6.jpg" alt="image"/>-->
                <!--<div class="card-body text-center">-->
                  <!--<div class="h5">Jeremy Little</div>-->
                  <!--<p class="text-muted">Software Developer</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="container da-gallery" id="gallery">-->
  <!--<div class="h3 pb-5 text-center" data-aos="fade-up">Photo Gallery</div>-->
  <!--<div class="card-columns">-->
    <!--<div class="card"><a href="images/gallery-img-3.jpg" data-toggle="lightbox" data-gallery="da-gallery"><img class="img-fluid" src="images/gallery-img-3.jpg" alt="Gallery Image 1"/></a></div>-->
    <!--<div class="card"><a href="images/gallery-img-5.jpg" data-toggle="lightbox" data-gallery="da-gallery"><img class="img-fluid" src="images/gallery-img-5.jpg" alt="Gallery Image 2"/></a></div>-->
    <!--<div class="card"><a href="images/gallery-img-4.jpg" data-toggle="lightbox" data-gallery="da-gallery"><img class="img-fluid" src="images/gallery-img-4.jpg" alt="Gallery Image 3"/></a></div>-->
    <!--<div class="card"><a href="images/gallery-img-1.jpg" data-toggle="lightbox" data-gallery="da-gallery"><img class="img-fluid" src="images/gallery-img-1.jpg" alt="Gallery Image 4"/></a></div>-->
    <!--<div class="card"><a href="images/gallery-img-2.jpg" data-toggle="lightbox" data-gallery="da-gallery"><img class="img-fluid" src="images/gallery-img-2.jpg" alt="Gallery Image 5"/></a></div>-->
  <!--</div>-->
<!--</div>-->
<div class="da-section da-brand bg-secondary" id="testimonial">
  <div class="container text-center text-white">
    <div class="carousel slide pb-5" id="da-brand-carouselIndicator" data-ride="carousel">
      <ol class="carousel-indicators">
        <li class="active" data-target="#da-brand-carouselIndicator" data-slide-to="0"></li>
        <li data-target="#da-brand-carouselIndicator" data-slide-to="1"></li>
        <li data-target="#da-brand-carouselIndicator" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        {% for t in testimonials %}
        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <p>"{{t.testimonial}}"</p>
              <div class="h6 text-uppercase">{{t.author}}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="da-contact" id="contact">
  <div class="da-contact-detail" data-aos="zoom-in" data-aos-duration="1000">
    <div class="container">
      <div class="card py-4 px-4">
        <div class="h4 pb-4">Contact Us</div>
        <div class="row">
          <div class="col-md-7 col-sm-12 mb-3">
            <div class="da-contact-message">
              <form action="" id="contactform" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6 col-sm-12 mb-3">
                    <input class="mr-3 form-control" type="text" name="first_name" placeholder="*First Name" id="id_first_name" onkeyup="removeError('first_name')"/>
                    <span id="first_name" class="error"></span>
                  </div>
                  <div class="col-md-6 col-sm-12 mb-3">
                    <input class="form-control" type="text" name="last_name" placeholder="Last Name"/>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="text" name="subject" placeholder="*Subject" id="id_subject" onkeyup="removeError('subject')"/>
                    <span id="subject" class="error"></span>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input class="form-control" type="email" name="email" placeholder="*E-mail" id="id_email" onkeyup="removeError('email')"/>
                    <span id="email" class="error"></span>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <textarea class="form-control" name="message" placeholder="*Your Message" rows="4" id="id_message" onkeyup="removeError('message')"></textarea>
                    <span id="message" class="error"></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <button class="btn btn-primary" id="btn-submit">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-5">
            <!--<p>Non dis torquent conubia neque duis enim lectus, dictumst bibendum nam lacinia faucibus sollicitudin consequat tortor, mattis taciti sem arcu pellentesque quisque.</p>-->
            <p><b>Address:</b> {{contact.address|safe}}</p>
            <p><b>Phone:</b> {{contact.phone}}</p>
            <p><b>Email:</b> {{contact.email}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="bg-secondary da-section">
      <div class="container text-white">
        <div class="row">
          <div class="col-md-5">
            <div class="h2 mb-4">B2B Exports</div>
            <p class="mb-3">{{contact.email}}</p>
            <p>{{contact.phone}}</p>
          </div>
          <div class="col-md-4">
            <div class="h6 pb-2">Follow Us</div>
            <ul>
              <li class="mb-1"><a class="da-social-link" href="{{contact.twitter}}"><i class="fab fa-twitter" aria-hidden="true"></i><span class="ml-2">Twitter</span></a></li>
              <li class="mb-1"><a class="da-social-link" href="{{contact.facebook}}"><i class="fab fa-facebook-f" aria-hidden="true"></i><span class="ml-2">Facebook</span></a></li>
              <li class="mb-1"><a class="da-social-link" href="{{contact.instagram}}"><i class="fab fa-instagram" aria-hidden="true"></i><span class="ml-2">Instagram</span></a></li>
              <li class="mb-1"><a class="da-social-link" href="{{contact.youtube}}"><i class="fab fa-youtube" aria-hidden="true"></i><span class="ml-2">Youtube</span></a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <div class="h6 pb-4">Copyright</div>
            <p class="pb-1">&copy; B2B Exports. All rights reserved.</p>

          </div>
        </div>
      </div>
    </footer>
    <div id="scrolltop">
      <button class="btn btn-primary"><span class="icon"><i class="fas fa-angle-up fa-2x"></i></span></button>
    </div>
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/aos.js' %}"></script>
    <script src="{% static 'scripts/ekko-lightbox.min.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
    <script>

function removeError(id){
	document.getElementById(id).innerHTML = "";
}

var count = 0;
$('#btn-submit').click(function() {
	<!--document.getElementById("success-message").innerHTML = "";-->
	var data = $('#contactform').serialize();
	var url = "{% url 'contact' %}"
	$('.error').html("");
    $('#successful').html("");
    document.getElementById("btn-submit").innerHTML = "SENDING...";
	$.ajax({
		type: 'POST',
		url: url,
		data: data,
		cache : false,
		processData: false,

		success: function (response) {
			if (response.status == 'success') {
				$('.error').remove();
				document.getElementById("btn-submit").innerHTML = "Send";
				<!--document.getElementById("success-message").innerHTML = "Message Sent Successfully";-->
				$('#contactform')[0].reset();
			}
			else if (response.result.status == 'form_error') {
				document.getElementById("btn-submit").innerHTML = "Send Message";

				$("#contactform :input:not(input[type='hidden'],input[type='submit'])").each(function () {
					var current = $(this).parent();
					var current_name = $(this).attr('name');
					$.each(response.result.errors, function (index, value) {
						if (current_name == index) {
							$('#'+current_name).html(value);
						}
					});
				});
			}
		},
		error: function(error){}
	});
	return false;
});
</script>
  </body>
</html>